<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Wordsearch</title>
  <meta name="description" content="A simple wordsearch game">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/main.js"></script>
</head>
<body ng-app="wordsearchApp" ng-controller="WordsearchCtrl">
  
  <h2>Play now</h2>
  <div class="ws-grid" ng-class='colorClass'>
    <div ng-repeat="row in grid.cells">
  
      <div class="ws-cell" ng-repeat="cell in row"
           ng-click="cellClicked(cell)"
           ng-mouseenter="updatePath(cell)"
           ng-mouseleave="selectedCell && clearPath()"
           ng-class="{selected: cell.isSelected, path: cell.onPath, 'correct-path': cell.onCorrectPath}">
        <div class="solved" ng-class="colorClass" 
             ng-repeat="colorClass in cell.solvedColorClasses track by $index"></div>
        {{cell.letter}}
      </div>
      
    </div>
  </div>

  <ul class="word-list">
    <li class="word" ng-repeat="word in words">{{word}}</li>
    <li class="word solved" ng-class="word.colorClass" ng-repeat="word in foundWords">{{word.word}}</li>
  </ul>

</body>
</html>
